.intro__headlines {
    margin: 0;
    width: 55%;
    margin-left: 79px;
    margin-top: 207px;
}

  
@media screen and (max-width: 900px) {
    .intro__headlines {
      margin-top: 107px;
    }
  }