.header__links {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
}

@media screen and (max-width: 600px) {
    .header__links {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 60px;
      margin-bottom: 25px;
    }
  }