.grid__image {
    margin: 0;
    width: 100%;
    object-fit: cover;
    /*object-fit: contain;
    object-position: 0 0;*/
} 


.grid__image_type_scale:hover .grid__image {
    transform: scale(1.2);
  }