.intro__headline {
    margin: 0;
    margin-top: 207px;
    margin-bottom: 35px;
    color: #fed9bc;
    font-family: 'Proxima Nova Bold';
    font-size: 15px;
    line-height: 30px;
    /*position: absolute;
    top: 207px;
    left: 76px;*/

}