.people__quote-title {
    margin: 0;
    margin-bottom: 15px;
    color: black;
    font-family: 'Proxima Nova Bold';
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
}

@media screen and (max-width: 900px) {
    .people__quote-title {
        font-size: 13px;
    }
  }

  
@media screen and (max-width: 636px) {
    .people__quote-title {
        font-size: 15px;
        margin-bottom: 5px;
    }
  }