.header__button-complain {
    margin: 0;
    margin-right: 70px;
    border: none;
    background: none;
    font-family: 'Proxima Nova Bold';
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.header__button-complain:hover {
    font-size: 20px;
}


@media screen and (max-width: 600px) {
    .header__button-complain {
      margin-left: 60px;
    }
  }

      
@media screen and (max-width: 400px) {
    .header__button-complain  {
      margin-left: 0px;
      margin-right: 40px;
    }
  }