.people__quote-text {
    margin: 0;
    color: black;
    font-family: 'Proxima Nova Regular';
    font-size: 15px;
    line-height: 30px;
}

@media screen and (max-width: 900px) {
    .people__quote-text {
        font-size: 13px;
    }
  }