.headline {
    margin: 0;
    margin-bottom: 35px;
    color: #fed9bc;
    font-family: 'Proxima Nova Bold';
    font-size: 15px;
    line-height: 30px;
    /*position: absolute;
    top: 207px;
    left: 76px;*/
}

@media screen and (max-width: 1026px) {
    .headline {
      font-size: 12px;
    }
  }