.grid__text {
    margin: 0;
    margin-left: 77px;
    margin-bottom: 20px;
    width: 60%;
    color: black;
    font-family: 'Proxima Nova Regular';
    font-size: 15px;
    line-height: 30px;
}


.grid__text:last-of-type {
    margin-bottom: 0px;
}


@media screen and (max-width: 1251px) {
    .grid__text {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 1101px) {
    .grid__text {
        width: 80%;
    }
  }

  @media screen and (max-width: 870px) {
    .grid__text {
      font-size: 11px;
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 636px) {
    .grid__text {
      margin: 0 auto 7px;
      width: 100%;
    }
  }

