.intro__image {
    margin: 0;
    margin-top: 87px;
    margin-right: 175px;
    width: 28%;
    height: 400px;
    /*position: absolute;
    top: 87px;
    right: 175px;*/
}

@media screen and (max-width: 1101px) {
    .intro__image {
      height: 350px;
    }
  }

  @media screen and (max-width: 1026px) {
    .intro__image {
      height: 300px;
    }
  }

  
  @media screen and (max-width: 900px) {
    .intro__image {
      height: 250px;
    }
  }

    
  @media screen and (max-width: 636px) {
    .intro__image {
      height: 200px;
      margin-right: 60px;
    }
  }

      
  @media screen and (max-width: 600px) {
    .intro__image {
      height: 180px;
      margin-right: 20px;
    }
  }

        
  @media screen and (max-width: 400px) {
    .intro__image {
      margin-left: 60px;
      height: 200px;
      width: 50%;
      margin-top: 40px;
    }
  }

  
        
  @media screen and (max-width: 340px) {
    .intro__image {
      margin: 40px auto 0;
    }
  }