.intro__title {
    margin: 0;
    width: 50%;
    font-family: 'Proxima Nova Bold';
    font-size: 42px;
    line-height: 44px;
    color: black;
    position: absolute;
    top: 268px;
    left: 79px;

}